body {
    background-color: #f0efed;
    background: url("../images/mainpage02.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

#welcome {
    font-family: 'Parisienne', cursive;
    font-size: 5rem;
    color: #033600;
    margin-top: 4rem;
    z-index: 10;
    text-shadow: 2px 1.5px #364035;
    filter: blur(0.4px);
}

.btn {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: large;
    z-index: 10;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
} 

#photo {
    width: 12rem;
    border-radius: 5rem;
}
.color {
    background-color: #8f8f8f;
    border-color: #8f8f8f;
}

.color:hover {
    background-color: #e8e8e8;
}

.active {
    background-color: #f8f9fa !important;
    border-color: #f8f9fa !important;
}

.btngroup {
    margin-left: 20rem;
}

.btngroup1 {
    margin-left: 20rem;
    padding-top: 1.5rem;
}

#note {
    background-color: #f8f9fa;
    margin-left: 20.98rem;
    height: 50rem;
    margin-bottom: 8rem;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

#portfolio {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: medium;
    padding-left: 3rem;
    padding-top: 3rem;
}

.project_pic {
    width: 28rem;
}

#projects {
    text-align: center;
}

.titles {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: medium;
    color: #595958;
    font-weight: bold;
}

.titles:hover {
    color: #595958;
}

.fa-css3:before {
    color: #0babd4;
    font-size: 5rem;
}
.fa-js:before {
    color: #ebe41a;
    font-size: 5rem;
}
.fa-bold:before {
    color: #990be0;
    font-size: 5rem;
}

#css3,
#js,
#bootstrap {
    font-size: large;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}

.tech {
    margin-bottom: 4rem;
}

.fa-envelope,
.fa-phone-square,
.fa-linkedin-square,
.fa-weixin,
.fa-github-square,
.fa-file-text-o {
    font-size: 2rem;
    color: #595959;
    margin: 0 1rem 1rem 2rem;
}

#resume {
    color: #212529;
}

footer {
    font-family: 'Montserrat Alternates', sans-serif;
    position: fixed;
    color: #ffffff;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 2px;
    background-color: #b8b8b8;
    margin-bottom: -0.1px;
    z-index: 30;
}

@media screen and (min-width: 414px) {
    .btn {
        margin-left: -19.45rem;
        font-size: 0.8rem;
    }
    #note {
        margin-left: 1.5rem;
        border-top-right-radius: 0.3rem;
        margin-right: 1.3rem;
        height: 37rem;
    }
    .btngroup {
        margin-right: 0.5rem;
    }
    .btngroup1 {
        margin-right: -1rem;
        width: 26rem;
    }
    #welcome {
        font-size: 4rem;
        margin-top: -1rem;
        margin-left: -2rem;
    }
    #photo {
        margin-left: 5rem;
        width: 13rem;
        height: 11rem;
    }
    #portfolio {
        padding-left: 2rem;
        font-size: small;
    }
    .project_pic {
        width: 20rem;
    }
    footer {
        font-size: smaller;
        padding-top: 10px;
    }
    p {
        font-size: smaller;
    }
    #css3,
    #js,
    #bootstrap {
        font-size: 1rem;
    }
    .tech {
        margin-bottom: 1rem;
    }
    .fa-css3:before,
    .fa-js:before,
    .fa-bold:before {
        font-size: 3.5rem;
    }
    
}

@media screen and (min-width: 768px){
    #photo {
        width: 3rem;
        height: 12rem;
    }
}

